[Desktop Entry]
Name=Heroes 2
Comment=Heroes of Might and Magic II
Exec=dosbox-x -conf ~/dosbox.conf -conf ~/git/linux-configs/dosbox/heroes2.conf
Icon=heroes2
Terminal=false
Type=Application
Categories=Game
