[Desktop Entry]
Name=Baseball
Comment=Tony La Russa Baseball II
Exec=~/git/linux-configs/dosbox/tony2.sh
Icon=tony2
Terminal=false
Type=Application
Categories=Game
